@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body,html{
    overflow-x: hidden;
}
img{
    width: 100%;
}
:root{
    --gray:#585757;
    --red:#e7332b;
    --first-container:rgb(255,253,245);
    --second-contaner:#fff2ec;
    --green:#43b97f;
}
 /*Landing Page  */
 .home-container{
    background-color:#fffafa;
    height: 100vh;
    position: relative;
}
.home{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 640px;
}
.unlock p{
    color:#514949 ;
    line-height: 1.4;
    font-size: 1rem;
    text-align: center;
}
.unlock a{
    color: var(--red);
}
.unlock{
    margin-bottom: 5em;
}
.zuri-full-logo{
    margin-bottom: 5em;
}
.vision h1{
    color: #514949;
    font-size: 1.9rem;
}
.vision{
    margin-bottom:2.5em;
}

.first-container{
    background-color:var(--first-container);
    /* max-width: 1500px; */
}
.buttons{
    display: flex;
    gap: 30px;
}
.button a{
    padding: .8em 2em;
    display: inline-block;
}
.button.red{
    background-color: var(--red);
    font-size: 1rem;
    border: 1px solid red;
}
.red a{
    color:#fff
}
.button.red:hover{
    color: var(--red);
    background-color: #fff;
}
.red a:hover{
    color: var(--red);
}
.button.white{
    background-color:#fff;
    font-size: 1rem;
    border: 1px solid var(--red);
}
.white a{
    color:var(--red);
}
.button.white:hover{
    background-color: var(--red);
}
.white a:hover{
    color:#fff;
}
/* NAVBAR */
.nav-container{
    height: 100px;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--first-container);
    z-index: 3;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: 0 auto;
}
.nav-left{
    width: 320px;
}
.nav-right ul{
    display: flex;
}
.nav-right ul a{
    color: var(--gray);
    margin: 0 3em 0 0;
    font-size: 1.1rem;
}
.nav-right{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.btn{
    display: flex;
    align-items: center;
    position: relative;
}
.thumbs{
    width: 75px;
    height: 75px;
    background-color: var(--red);
    border-radius: 50%;
    border: 1px solid red;
    background-image: url(./images/thumbs.png);
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    position: absolute;
    left: -10px;
}
.now{
    border: 1px solid red;
    background: var(--red);
    margin-left: -1px;
    padding: .4em 2em .4em 4.2em;
    border-radius: 30px;

}
.now a{
    color: #fff;
    font-size: 1.2rem;
}   
/* End of Navbar */
/* SECTION ONE */
section.one{
    background-color: var(--first-container);
    padding-top: 200px;
}
.first{
    width: 93%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 55% 20%;
    background-color: var(--first-container);
    border-bottom: 1px solid #e9e7e0;
    padding-bottom: 150px;
}
.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small p{
    color: var(--red);
    font-size: 1.1rem;
}
.gain h1{
    font-size: 2.9rem;
    max-width: 550px;
    line-height: 1.3;
}
.gain{
    position: relative;
    margin-bottom: 40px;
}
.line1{
    width: 200px;
    margin-right: 60px;
    position: absolute;
    bottom: -25px;
    right: -10px;
}
.basic p{
    color: var(--gray);
    font-size: 1.1rem;
    max-width: 400px;
}
.section-down{
    /* width: 100%; */
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a.ctn{
    background-color: var(--red);
    color: #fff;
    padding: .5em 2em .5em 2em;
    font-size: 1.1rem;
    border-radius: 30px;
    position: relative;
}
.face{
    width: 50px;
    position: absolute;
    top: 0;
    left: -200px;
}
.section-down{
    position: relative;
}
.wire1{
    width:80px;
    position: absolute;
    top: 45px;
    right: -35px;
}
/* END OF SECTION ONE */
/* SECTION TWO */
section.two{
    display: flex;
    justify-content: center;
}
.second{
    width: 93%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    padding:2em 0;
    border-bottom: 1px solid var(--gray);
}
.ingressive h1{
    font-size: 1.5rem;
    max-width: 350px;
    text-align: left;
    line-height: 1.3;
}
.ingressive{
    margin-top: 30px;
}
.help a{
    color: var(--green);
    text-decoration: underline;
    font-size: 1.5rem;
}
.second-logo{
    margin-top: 30px;
}
.power{
    width: 110px;
    margin: 0 auto;
}
.help p{
    font-size: 1.7rem;
    text-align: right;
    line-height: 1.2;
    font-weight: 400;
}
/* END OF SECTION TWO */
/* SECTION THREE */
section.three{
    margin-top: 7.5em;
}
.third{
    width: 93%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 2em;
    padding-bottom: 3.5em;
}
.why2{
    position: relative;
    margin-bottom: .8em;
}
.section-wire-3{
    width: 110px;
    position: absolute;
    top: -70px;
    left: 250px;

}
.why2 p{
    color: var(--red);
    font-size: 1.5rem;
}
.star{
    width: 180px;
}
.here h1{
    font-size: 2.5rem;
    line-height: 1.3;
    max-width: 650px;
}
.navbar, .first , .second, .third, .fourth,.fifth,.sixth,.seventh,.eight,.ninth,.last{
    max-width: 1500px;
}
/* END OF SECTION THREE */
/* SECTION FOUR */
.fourth{
    width: 93%;
    margin: 0 auto;
}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 7em;
}
.number{
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    padding: 3em 3em 4em 3em;
    box-shadow: 60px 60px 80px var(--second-contaner);
    transition: 0.5s ease;
    height: min-content;
}

.digit h1{
    font-size: 4rem;
}
.different{
    background:var(--red);
    color: #fff;
}
.different .number-title h1{
    max-width: 100px;
}
.number-title h1{
    font-size: 2.3rem;
    font-weight: 600;
}
.number-title{
    margin-top: 3em;
    margin-bottom: 2em;
}
.number-content p{
    font-size: 1.3rem;
    color: var(--gray);
}
.different .number-content p{
    color:#fff;
}
.number:hover{
    transform: translateY(-15px);
}
h1.real{
    max-width: 200px;
}
.curve{
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
/* END OF SECTION FOUR */
/* SECTION FIVE */
section.five{
    background-color: var(--red);
    position: relative;
    padding-top: 5em;
    padding-bottom: 10em;
}
.fifth{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns:40% 60%;
    color: #fff;
}
.started{
    position: relative;
    color: #fff;
    width: fit-content;
    margin-bottom: .5em;
}
.started p{
    font-size: 1.1rem;
}
.section-wire-5{
    position: absolute;
    width: 80px;
    top: -60px;
    right: -80px;
}
.fifth-left{
    margin-top: 75px;
}
.fifth-title h1{
    font-size: 2.6rem;
    max-width: 400px;
}
.fifth-title{
    margin-bottom: 3em;  
}
.fifth-content p{
    font-size: 1.2rem;
    max-width: 330px;
    line-height: 1.5;
}
.fifth-content{
    margin-bottom: 40px;
}
.fifth a.ctn{
    border: 1px solid white;
    color: var(--red);
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.fifth a.ctn:hover{
    box-shadow: 2px 2px 4px rgba(0,0,0,.4);
}
.teams{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 10px;
}
.team{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 40px;
    padding:.4em .6em;
    gap: 10px;
    cursor:not-allowed;
}
.pics{
    width: 45px;
}
.name p{
    font-size: 1.2rem;
}
.dotsection-5{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 130px;
}
/* END OF SECTION FIVE */
/* SECTION SIX */
section.six{
    padding-top: 6em;
}
.sixth{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4em;
    border-bottom: 1px solid var(--gray);
}
.scope p{
    color: var(--red);
    font-size: 1.4rem;
}
.scope{
    margin-bottom: 1em;
}
.sixth-title h1{
    font-size: 2.4rem;
    max-width: 500px;
}
.second-part{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.section-wire-6{
    width: 150px;
    margin-top: -10px;
    margin: -10px auto 0;
}
.stacks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 70px;
}
.stack{
    background-color: #fff;
    padding:3em 2em .8em 2em;
    border-radius: 30px;
    box-shadow: 8px 8px 30px var(--second-contaner);
}
.stack-head h1{
    font-size: 1.3rem;
}
.stack-head{
    margin-bottom: 1.6em;
}
.stack-images{
    display: flex;
    gap: 17px;
    align-items: center;
    margin-bottom: 2em;
}
.stack-content p{
    color:var(--gray);
    line-height: 1.3;
    font-size: 1rem;
    max-width:350px;
}
.sixth a.ctn{
    width: fit-content;
    margin: 0 auto;
}
.html{
    width: 35px;
} 
.css{
    width: 35px;
}
.js{
    width: 45px;
}
.php{
    width: 70px;
}
.python{
    width:55px;
}
.xd{
    width: 50px;
}
.figma{
    width: 100px;
}
.ubuntu{
    width: 100px;
}
.bash{
    width: 80px;
}
.aws{
    width: 60px;
}
.laravel{
    width: 70px;
}
.react{
    width: 80px;
}
.django{
    width: 75px;
}
/* END OF SECTION SIX */
/* SECTION SEVEN */
section.seven{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 0 0;
}
.seventh{
    width: 93%;
    border-bottom: 1px solid var(--gray);
}
.upper{
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 0 auto 5.3em;
}
.got p{
    color:var(--red);
    font-size: 1.4rem;
}
.frequently h1{
    font-size: 2.6rem;
}
.section-wire-7{
    position: absolute;
    top: -70px;
    left: -210px;
    width: 140px;
}
.lower{
    width: 80%;
    margin: 0 auto;
}
.questions{
    border: 1px solid black;
    border-bottom: 0;
    margin-bottom: 5em;
}
.question{
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}
.quest h1{
    font-size:1.2rem;
}
.plus{
    width: 20px;
}
.still-c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 3em;
}
.still p{
    font-size: 1.1rem;
}
.tweet{
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--red);
    padding: .1em 1.5em .1em 1.3em;
    border-radius: 30px;
}
.twi-img{
    width: 35px;
}
/* END OF SECTION SEVEN */
/* SECTION EIGHT */
section.eight{
    display: flex;
    justify-content: center;
    padding: 9em 0 8em;
}
.eight{
    width: 93%;
    margin:0 auto;
    text-align: center;
}
.structure-container{
    position: relative;
    width: fit-content;
    margin: 0 auto 3em;
}
.section-wire-8, .star-8{
    position: absolute;
}
.structure p{
    color: var(--red);
    font-size: 1.4rem;
}
.structure{
    margin-bottom: 0em;
}
.program h1{
    font-size: 2.6rem;
}
.program {
    margin-bottom: 1em;
}
.program-content p{
    color: var(--gray);
    font-size: 1.1rem;
}
.section-wire-8{
    top: -80px;
    left: -90px;
    width: 120px;
}
.star-8{
    width: 120px;
    right: -250px;
    top: -50px;
}
.time-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 0;
    max-width: 1300px;
}
.time{
    background: #1b1a20;
    color: #fff;
    position: relative;
    text-align: left;
    padding:3.5em 3.2em;
    border-radius: 50px;
    box-shadow: 20px 20px 80px #fde9e2;
    z-index: 2;
}
.clarity{
    width: 15px;
}
.time-head h1{
    font-size: 2.3rem;
}
.time-head{
    margin-bottom: 1em;
}
.requirement p{
    max-width: 350px;
    font-size: 1.05rem;
    line-height: 1.2;
}
.requirement{
    margin-bottom: 1em;
}
.lists{
    margin-bottom: 1.2em;
}
.list-head h1{
    font-size:1.1rem;
}
.lists li{
    list-style: disc;
    line-height: 1.7;
    font-size: 1rem;
    max-width: 350px;
}
li.no-list-style{
    list-style: none;
}
.lists li a.underline{
    font-size: 1rem;
    color: #fff;
    text-decoration: underline;
}
.dark{
    position: absolute;
    bottom: 40px;
    right: 30px;
    width: 180px;
}
.hour{
    width: 100px;
    bottom: 20px;
    right: 20px;
}
.move{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: -90px;
    width: 110px;
}
.circle{
    width: 150px;
    position: absolute;
    right: -90px;
    bottom: -60px;
    z-index: 1;
}
/* END OF SECTION EIGHT */
/* SECTION 9 */
section.nine{
    display: flex;
    justify-content: center;
    padding-bottom: 7em;
    margin-top: 5em;
}
.ninth{
    width: 90%;
    border: 1px solid red;
    background-color: var(--red);
    padding: 7em 7em 5em;
    text-align: center;
    position: relative;
    border-radius: 25px;
}
.tiny p{
    color: #fff;
    font-size: 1.1rem;
}
.tiny{
    margin-bottom: 1.3em;
}
.break-container{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
}
.break-container h1{
    color: #fff;
    font-size: 3.5rem;
    max-width: 600px;
}
.round-9{
    position: absolute;
    width: 160px;
    top: -30px;
    left: -170px;
}
.ninth a.ctn{
    background-color: #fff;
    color: var(--red);
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.ninth a.ctn:hover{
    box-shadow: 2px 2px 4px rgba(0,0,0,.4);
}
.mains{
    position: absolute;
    width:150px;
    bottom: 0;
    right:0;
}
.up{
    right: 0;
    top: 0;
    position: absolute;
    width: 120px;
}
.down{
    left: 0px;
    bottom:-3px;
    position: absolute;
    width: 120px;
}
.circle-9{
    position: absolute;
    width: 120px;
    top: -120px;
    left: 0;
}
/* END OF SECTION NINE  */
/* FOOTER */
footer{
    display: flex;
    justify-content: center;
}
.last{
    width: 90%;
}
.last-one{
    display: flex;
    justify-content: space-between;
}
.last-logo{
    width: 320px;
}
.social-icons{
    display: flex;
    gap: 10px;
}
.last-two{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 50px;
}
.policy{
    display: flex;
    gap: 15px;
}
/* MEDIA QUERIES */
@media(max-width:1200px){
    .first{
        grid-template-columns: 1fr;
    }
    .lady{
        width: 65%;
        margin: 0 auto;
    }
    section.one{
        padding-top: 110px;
    }
    .male{
        display: none;
    }
    .content{
        margin-top: 4em;
    }
    .gain h1{
        max-width: 2000px;
    }
    .gain{
        position: relative;
        margin-bottom: 40px;
        width: 100%;
    }
    .line1{
        width: 320px;
        margin-right: 60px;
        position: absolute;
        bottom: -35px;
        right: 30px;
    }
    .basic{
        width: 75%;
    }
    .basic p{
        max-width: 2000px;
    }
    .basic{
        margin-top: 1em;
    }
    .face{
        width: 50px;
        position: absolute;
        top: 0;
        left: -400px;
    }
    .numbers{
        grid-template-columns: 1fr 1fr;
    }
    .number{
        height: max-content;
    }
    .number-title h1{
        max-width: 200px;
    }
    .number-content p{
        font-size: 1.1rem;
    }
    .fifth{
        grid-template-columns: 1fr;
    }
    .started{
        width: 75%;
    }
    .started p{
        font-size:1.2rem ;
    }
    .fifth-title h1{
        max-width: 17000px;
        font-size: 2rem;
    }
    .section-wire-5{
        width: 200px;
        top: -140px;
        right: -80px;
    }
    .fifth-content p{
        max-width: 1700px;
    }
    .teams{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .fifth-right{
        margin-top: 1.5em;
    }
    .stacks{
        grid-template-columns: 1fr 1fr;
    }
    .stack-content p{
        max-width: 1700px;
    }
    .stack{
        padding:3em 2em 4.5em 2em;
    }
    .sixth-title h1{
        font-size: 2rem;
        max-width: 1700px;
    }
    .scope{
        margin-bottom: 0em;
    }
    .scope p{
        font-size: 1.3rem;
    }
    .move{
        display: none;
    }
}
@media(max-width:1185px){
    .help p{
        font-size: 1.5rem;
        max-width: 400px;
    }
    .help a{
        font-size: 1.3rem;
    }
    .help{
        display: flex;
        justify-content: flex-end;
    }
    .second{
        grid-template-columns: 1.1fr 0.6fr 1.3fr;
    }
}
@media(max-width:1178px){
    .mains{
        width:120px;
    }
    .up{
        width: 100px;
    }
    .down{
        bottom:-3px;
        width: 100px;
    }
    .circle-9{
        width: 100px;
        top: -120px;
        left: 0;
    }
    .round-9{
        width: 120px;
        top: -30px;
        left: -110px;
    }
}
@media(max-width:1163px){
    .dark{
        position: absolute;
        bottom: 40px;
        right: 20px;
        width: 150px;
    }
    .hour{
        width: 70px;
        bottom: 30px;
        right: 20px;
    }
    .time{
        padding:3.5em 2.5em 3.5em 3.2em;
    }
}
@media(max-width:1148px){
    .nav-left{
        width: 290px;
    }
}
@media(max-width:1099px){
    .nav-left{
        width: 250px;
    }
}
@media(max-width:1058px){
    .nav-left{
        width: 230px;
    }
}
@media(max-width:1044px){
    .dark{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 120px;
    }
    .hour{
        width: 60px;
        bottom: 30px;
        right: 20px;
    }
    .circle{
        display: none;
    }
    .star-8{
        width: 100px;
        right: -150px;
        top: -50px;
    }
}
@media(max-width:1033px){
    .third-right{
        display: flex;
        justify-content: flex-end;
    }
    .star{
        margin-right: 30px;
    }
    .here h1{
        font-size:2.3rem;
    }
}
@media(max-width:1031px){
    .nav-right ul a{
        margin: 0 2.5em 0 0;
    }
}
@media(max-width:1000px){
    .navbar{
        width: 95%;
    }
    .nav-right ul a{
        margin: 0 2.2em 0 0;
    }
}
@media(max-width:993px){
    .face{
        left: -300px;
    }
}
@media(max-width:954px){
    .third{
        grid-template-columns: 65% 35%;
    }
}
@media(max-width:953px){
    .navbar{
        width: 97%;
    }
    .nav-right ul a{
        margin: 0 2em 0 0;
    }
}
@media(max-width:940px){
    .got p{
        font-size: 1.2rem;
    }
    .frequently h1{
        font-size: 1.8rem;
    }
    .section-wire-7{
        top: -70px;
        left: -210px;
        width: 120px;
    }
    .questions{
        margin-bottom: 5em;
    }
    .plus{
        width: 15px;
    }
    .quest h1{
        font-size:1rem;
    }
    .still p{
        font-size: 1.1rem;
    }
    .upper{
        margin: 0 auto 4em;
    }
}
@media(max-width:928px){
    .mains{
        width:100px;
    }
    .up{
        width: 90px;
    }
    .down{
        bottom:-3px;
        width: 90px;
    }
    .circle-9{
        width: 90px;
        top: -120px;
    }
    .round-9{
        width: 90px;
        top: -7px;
        left: -70px;
    }
}
@media(max-width:927px){
    .help p{
        font-size: 1.4rem;
    }
    .ingressive h1{
        font-size: 1.3rem;
    }
}
@media(max-width:918px){
    .btn{
        display: flex;
        align-items: center;
        position: relative;
    }
    .thumbs{
        width: 60px;
        height: 60px;
        background-size: 45px;
    }
    .now{
        padding: .3em 1em .3em 3.2em;
    
    }
}
@media(max-width:900px){
    .second{
        grid-template-columns: 1fr;
    }
    .ingressive{
        margin-top: 0;
    }
    .ingressive h1{
        max-width: 1700px;
        text-align: center;
        font-size: 1.5rem;
    }
    .second-logo{
        margin: 6em auto;
    }
    .power{
        width: 130px;
    }
    .help p{
        max-width: 1700px;
        font-size: 1.3rem;
    }
    .help a{
        font-size: 1.1rem;
    }
    .third{
        grid-template-columns: 1fr;
    }
    .here h1{
        max-width: 2000px;
        font-size: 1.9rem;
    }
    .third-right{
        justify-content: flex-start;
        margin-top: 5em;
    }
    .star{
        margin-left: 130px;
    }
    .numbers{
        grid-template-columns: 1fr;
    }
    .curve{
        width: 300px;
    }
    .teams{
        grid-template-columns: 30% 30%;
        column-gap: 40%;
    }
    .section-wire-5{
        width: 150px;
        top: -100px;
        right: -80px;
    }
    .stacks{
        grid-template-columns: 1fr;
    }
    .stack{
        padding:3em 2em 6em 2em;
    }
    .stack-content p{
        font-size: 1.1rem;
    }
    .sixth-title h1{
        font-size: 1.9rem;
        max-width: 500px;
    }
    .time-container{
        grid-template-columns: 1fr;
    }
    .lists li{
        max-width: 1700px;
    }
    .requirement p{
        max-width: 1700px;
    }
    .dark{
        bottom: 40px;
        right: 30px;
        width: 180px;
    }
    .hour{
        width: 100px;
        bottom: 20px;
        right: 20px;
    }
    .structure p{
        font-size: 1.2rem;
    }
    .program h1{
        font-size: 2.3rem;
    }
    .star-8{
        width: 70px;
        right: -70px;
        top: -50px;
    }
    .section-wire-8{
        top: -60px;
        left: -40px;
        width: 90px;
    }
}
@media(max-width:888px){
    .nav-left{
        width: 200px;
    }
    .nav-right ul a{
        font-size: 1rem;
    }
    .now a {
        font-size: 1rem;
    }
}
@media(max-width:880px){
    .third-right{
        display: none;
    }
    section.three{
        margin-top: 5em;
    }
    .section-wire-3{
        width: 110px;
        position: absolute;
        top: -70px;
        left: 220px;
    
    }
}

@media(max-width:863px){
    .gain h1{
        font-size: 2.6rem;
    }
    .line1{
        width: 180px;
        margin-right: 60px;
        position: absolute;
        bottom: -20px;
        right: -55px;
    }

}
@media(max-width:833px){
    .basic{
        width: 85%;
    }
}
@media(max-width:831px){
    .mains{
        width:100px;
    }
    .up{
        width: 90px;
    }
    .down{
        bottom:-3px;
        width: 90px;
    }
    .circle-9{
        width: 90px;
        top: -120px;
    }
    .round-9{
        width: 70px;
        top: 0px;
        left: -50px;
    }
    .break-container h1{
        font-size: 3rem;
    }
}
@media(max-width:794px){
    .nav-left{
        width: 180px;
    }
    .nav-right ul a{
        font-size: .9rem;
    }
    .now a {
        font-size: .9rem;
    }
    .nav-right ul a{
        margin: 0 1.6em 0 0;
    }
}
@media(max-width:784px){
    .face{
        left: -200px;
    }
}
@media(max-width:777px){
    .got p{
        font-size: 1.2rem;
    }
    .frequently h1{
        font-size: 1.8rem;
    }
    .section-wire-7{
        top: -20px;
        left: -100px;
        width: 80px;
    }
    .questions{
        margin-bottom: 5em;
    }
    .plus{
        width: 15px;
    }
    .quest h1{
        font-size:1rem;
    }
    .still p{
        font-size: 1.1rem;
    }
    .upper{
        margin: 0 auto 4em;
    }
    .lower{
        width: 90%;
    }
}
@media(max-width:774px){
    .gain h1{
        font-size: 2.6rem;
    }
    .line1{
        width: 180px;
        margin-right: 60px;
        bottom: -20px;
        right:160px;
    }
}
@media(max-width:755px){
    .mains{
        width:90px;
    }
    .up{
        width: 80px;
    }
    .down{
        bottom:-3px;
        width: 80px;
    }
    .circle-9{
        width: 90px;
        top: -120px;
    }
    .round-9{
        width: 60px;
        top: 0px;
        left: -90px;
    }
    .break-container h1{
        font-size: 2.8rem;
    }
}
@media(max-width:747px){
    .here h1{
        font-size: 1.7rem;
    }
}
@media(max-width:735px){
    .basic{
        width: 90%;
    }
}
@media(max-width:721px){
    .gain h1{
        font-size: 2.6rem;
    }
    .line1{
        width: 180px;
        margin-right: 60px;
        bottom: -30px;
        right:160px;
    }

}
@media(max-width:710px){
    .teams{
        grid-template-columns: 40% 40%;
        column-gap: 20%;
    }
}
@media(max-width:707px){
    .nav-right ul{
        display: none;
    }
    .nav-left{
        width: 300px;
    }
    .thumbs{
        width: 75px;
        height: 75px;
        background-size: 55px;
    }
    .now{
        padding: .4em 2em .4em 4.2em;
    }
    .now a{
        font-size: 1.2rem;
    }
}
@media(max-width:700px){
    .got p{
        font-size: 1rem;
    }
    .frequently h1{
        font-size: 1.5rem;
    }
    .section-wire-7{
        top: -20px;
        left: -100px;
        width: 80px;
    }
    .questions{
        margin-bottom: 4em;
    }
    .question{
        padding: 1.2em;
    }
    .still-c{
        flex-direction: column;
    }
    .plus{
        width: 15px;
    }
    .quest h1{
        font-size:.9rem;
    }
    .still p{
        font-size: 1.1rem;
    }
    .lower{
        width: 90%;
    }
}
@media(max-width:694px){
    .basic p{
        font-size: 1rem;
    }
}
@media(max-width:687px){
    .star-8{
        width: 70px;
        right: -20px;
        top: -50px;
    }
    .structure p{
        font-size: 0.9rem;
    }
    .program h1{
        font-size: 1.7rem;
    }
    .program-content p{
        font-size: 0.9rem;
    }
    .dark{
        width: 90px;
    }
    .hour{
        width: 80px;
    }
}
@media(max-width:673px){
    .curve{
        width: 200px;
    }
    .break-container h1{
        font-size: 2.5rem;
    }
}
@media(max-width:613px){
    .gain h1{
        font-size: 2.5rem;
    }
    .line1{
        width: 180px;
        bottom: -30px;
        right:120px;
    }
}
@media(max-width:604px){
    .quest h1{
        font-size:.8rem;
    }
    .plus{
        width: 10px;
    }
}
@media(max-width:588px){
    .face{
        left: -150px;
    }
}
@media(max-width:585px){
    .help p{
        text-align: center;
        font-size: 1.2rem;
    }
}
@media(max-width:580px){
    .last-one{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .last-two{
        margin-top: 2em;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 1.2rem;
        gap: 30px;
        margin-bottom: 50px;
    }
    .policy{
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column-reverse;
    }
    .copy{
        border-top: 1px solid var(--gray);
        width: 100%;
        text-align: center;
        padding-top: 1em;
    }
}
@media(max-width:557px){
    .nav-left{
        width: 250px;
    }
    .thumbs{
        width: 65px;
        height: 65px;
        background-size: 45px;
    }
    .now{
        padding: .4em 2em .4em 4em;
    }
    .now a{
        font-size: 1.2rem;
    }
}
@media(max-width:556px){
    .ingressive h1{
        font-size: 1.4rem;
    }
}
@media(max-width:535px){
    .buttons{
        flex-direction: column;
    }
}
@media(max-width:533px){
    .teams{
        grid-template-columns: 45% 45%;
        column-gap: 10%;
    }
    .section-wire-5{
        width: 120px;
        top: -70px;
        right: -80px;
    }
}
@media(max-width:529px){
    .break-container h1{
        font-size: 1.8rem;
    }
    .tiny p{
        font-size: 0.9rem;
    }
}
@media(max-width:524px){
    .got p{
        font-size:.8rem;
    }
    .frequently h1{
        font-size: 1.2rem;
    }
    .section-wire-7{
        top: -30px;
        left: -80px;
        width: 80px;
    }
    .questions{
        margin-bottom: 4em;
    }
    .question{
        padding: 1.2em;
    }
    .still-c{
        flex-direction: column;
    }
    .plus{
        width: 15px;
    }
    .quest h1{
        font-size:.9rem;
    }
    .still p{
        font-size: 0.9rem;
    }
    .lower{
        width: 90%;
    }
    .tweet{
        border-radius: 30px;
    }
    .twi-img{
        width: 35px;
    }
    .twi-text p{
        font-size: 0.9rem;
    }
}
@media(max-width:518px){
    .gain h1{
        font-size: 2.3rem;
    }
    .line1{
        width: 180px;
        bottom: -30px;
        right:80px;
    }
    .here h1{
        font-size: 1.6rem;
    }
    .why2 p{
        font-size: 1.4rem;
    }
}
@media(max-width:509px){
    .help p{
        font-size: 1.1rem;
    }
}
@media(max-width:500px){
    .curve{
        width: 150px;
    }
}
@media(max-width:497px){
    .nav-left{
        width: 230px;
    }
    .thumbs{
        width: 55px;
        height: 55px;
        background-size: 35px;
    }
    .now{
        padding: .4em 2em .4em 3em;
    }
    .now a{
        font-size: 1rem;
    }
}
@media(max-width:494px){
    .ingressive h1{
        font-size: 1.3rem;
    }
}
@media(max-width:477px){
    .gain h1{
        font-size: 2.1rem;
    }
    .line1{
        width: 180px;
        bottom: -30px;
        right:80px;
    }
}
@media(max-width:451px){
    .break-container h1{
        font-size: 1.8rem;
    }
    .tiny p{
        font-size: 0.9rem;
    }
    .ninth{
        padding: 7em 0em 5em;
    }
    .round{
        display: none;
    }
    .circle-9{
        display: none;
    }
    section.nine{
        margin-top: 0em;
    }
}
@media(max-width:533px){
    .teams{
        grid-template-columns: 47% 47%;
        column-gap: 3%;
    }
    .section-wire-5{
        width: 120px;
        top: -70px;
        right: -80px;
    }
}
@media(max-width:463px){
    .face{
        display: none;
    }
    .basic{
        width: 85%;
    }
}
@media(max-width:459px){
    .ingressive h1{
        font-size: 1.2rem;
    }
    .here h1{
        font-size: 1.5rem;
    }
    .why2 p{
        font-size: 1.2rem;
    }
    .section-wire-3{
        width: 90px;
        position: absolute;
        top: -45px;
        left: 180px;
    
    }
}
@media(max-width:454px){
    .gain h1{
        font-size: 2.1rem;
    }
    .line1{
        width: 180px;
        bottom: -30px;
        right:50px;
    }
}
@media(max-width:453px){
    .pics{
        width: 40px;
    }
    .name p{
        font-size: 1rem;
    }
}
@media(max-width:441px){
    .basic{
        width: 95%;
    }
}
@media(max-width:442px){
    .lower{
        width: 97%;
    }
    .quest h1{
        font-size: 0.8rem;
    }
    .question{
        padding: .6em;
    }
    h1.can{
        max-width: 300px;
    }
    .still-c p{
        font-size: 0.8em;
    }
    .section-wire-7{
        width: 60px;
        left: -65px;
        top: -10px;
    }
}
@media(max-width:440px){
    .nav-left{
        width: 200px;
    }
    .thumbs{
        width: 45px;
        height: 45px;
        background-size: 25px;
    }
    .now{
        padding: 0em 2em 0em 2.5em;
    }
    .now a{
        font-size: .9rem;
    }
}
@media(max-width:435px){
    .gain h1{
        font-size: 1.9rem;
    }
    .line1{
        width: 180px;
        bottom: -30px;
        right:50px;
    }
    .small p{
        color: var(--red);
        font-size: 0.9rem;
    }
}
@media(max-width:425px){
    .section-wire-5{
        width: 100px;
        top: -60px;
        right: -90px;
    }
    .star-8{
        width: 70px;
        right: -20px;
        top: -50px;
    }
    .dark{
        width: 60px;
    }
    .hour{
        width: 50px;
    }
    .section-wire-8{
        left: 30px;
        top: -30px;
        width: 60px;
    }
    .star-8{
        width: 60px;
        right: 0;
        top: -20px;
    }
    .time-head h1{
        font-size: 1.8rem;
    }
    .requirement p{
        font-size: 0.9rem;
    }
    .lists li , .lists a{
        font-size: 0.9rem;
    }
    .list-head{
        font-size: 1rem;
    }
}    
@media(max-width:415px){
    .star-8{
        width: 30px;
    }
}
@media(max-width:400px){
    .curve{
        width: 100px;
    }
}
@media(max-width:397px){
    .pics{
        width: 35px;
    }
    .name p{
        font-size: 0.9rem;
    }
    .team{
        padding:.4em .5em;
        gap: 8px;
    }
    .dotsection-5{
        width: 90px;
    }
}
@media(max-width:394px){
    .gain h1{
        font-size: 1.7rem;
    }
    .line1{
        width: 160px;
        bottom: -40px;
        right:50px;
    }
}
@media(max-width:387px){
    .nav-left{
        width: 150px;
    }
}
@media(max-width:380px){
    .sixth-title h1{
        font-size: 1.4rem;
    }
    .stacks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .scope p{
        font-size: 1rem;
    }
    .stack{
        padding:3em 1em 6em 1em;
    }
    .stack-content p{
        font-size: 1rem;
    }
}
@media(max-width:372px){
    .basic{
        width: 90%;
    }
}
@media(max-width:370px){
    .section-wire-7{
        width: 40px;
        left: 20px;
        top: -25px;
    }
}
@media(max-width:361px){
    .line1{
        width: 130px;
        bottom: -40px;
        right:50px;
    }
}
@media(max-width:355px){
    .pics{
        width: 30px;
    }
    .name p{
        font-size: 0.7rem;
    }
    .fifth{
        margin-bottom: 0;
    }
    .team{
        padding:.4em .5em;
        gap: 8px;
    }
    .started p{
        font-size: 1rem;
    }
    .fifth-title h1{
        font-size: 1.7rem;
    }
    .fifth-content p{
        font-size: 0.9rem;
    }
    .dotsection-5{
        width: 40px;
    }
    .section-wire-5{
        width: 70px;
        top: -40px;
        right: -60px;
    }
    .fifth-right{
        align-self: center;
    }
    .fifth{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section.five{
        padding: 1em 1em 4em 1em;
    }
}
@media(max-width:352px){
    .basic p{
        font-size: 0.9rem;
    }
    .gain h1{
        font-size: 1.5rem;
    }
    .basic{
        width: 100%;
    }
}
@media(max-width:340px){
    .last-logo{
        width: 250px;
    }
}
@media(max-width:338px){
    .help a, .help p{
        font-size: 1rem;
    }
}
@media(max-width:335px){
    .here h1{
        font-size: 1.3rem;
    }
    .why2 p{
        font-size: 1.1rem;
    }
    .section-wire-3{
        width: 90px;
        top: -45px;
        left: 170px;
    }
    .up,.down{
        width: 50px;
    }
    .mains{
        width: 50px;
    }
}
@media(max-width:334px){
    .nav-left{
        width: 120px;
    }
    .now{
        padding: 0em 1em 0em 2.5em;
    }
}
@media(max-width:330px){
    .teams{
        grid-template-columns: 1fr;
    }
    .team{
        gap: 20px;
    }
    .name p{
        font-size: 1rem;
    }
    .pics{
        width: 50px;
    }
    .section-wire-5{
        width: 70px;
        top: -40px;
        right: -40px;
    }
    .started{
        width: 90%;
    }
    .dark{
        width: 50px;
    }
    .hour{
        width: 40px;
    }
}
@media(max-width:327px){
    .ingressive h1{
        font-size: 1.1rem;
    }
}
@media(max-width:320px){
    .line1{
        width: 100px;
        bottom: -40px;
        right:50px;
    }
}
@media(max-width:316px){
    .fourth{
        display: flex;
        justify-content: center;
    }
    .number{
        padding: 3em 2.2em 4em 2.2em;
    }
    
    .digit h1{
        font-size: 3.6rem;
    }
    .number-title h1{
        font-size: 2.1rem;
    }
    .curve{
        width: 80px;
    }
}
@media(max-width:311px){
    .gain h1{
        font-size: 1.4rem;
    }
    .line1{
        width: 100px;
        bottom: -30px;
        right:30px;
    }
}
@media(max-width:307px){
    .started{
        width: 100%;
    }
    .fifth-title h1{
        font-size: 1.5rem;
    }
}
@media(max-width:283px){
    .nav-left{
        width: 95px;
    }
    .now{
        padding: 0em 1em 0em 2.5em;
    }
    .thumbs{
        width: 40px;
        height: 40px;
        background-size: 20px;
    }
    .now{
        padding: 0em 1em 0em 2em;
    }
    .now a{
        font-size: .8rem;
    }
}
@media(max-width:279px){
    .frequently h1{
        font-size: 1.1rem;
    }
}
@media(max-width:276px){
    .section-wire-5{
        display: none;
    }
}
@media(max-width:269px){
    .vision h1{
        font-size: 1.7rem;
    }
    .unlock p{
        font-size: 0.8rem;
    }
}
@media(max-width:262px){
    .section-wire-3{
        width: 90px;
        position: absolute;
        top: -45px;
        left: 140px;
    
    }
}
@media(max-width:250px){
    .gain h1{
        font-size: 1.4rem;
    }
    .line1{
        width: 100px;
        bottom: -30px;
        right:10px;
    }
}
@media(max-width:240px){
    .now{
        padding: 0em 1em 0em 2.5em;
    }
    .thumbs{
        width: 35px;
        height: 35px;
        background-size: 15px;
    }
    .now{
        padding: 0em 1em 0em 2em;
    }
    .now a{
        font-size: .8rem;
    }
}


